:root {
    --primaryColor: #264653;
    --secondaryColor: #2a9d8f;
    --textColor: #e9c46a;
    --boxBgColor: #e76f51;
}

* {
    margin: 0;
    padding: 0;
}

.App {
    margin: 0;
    height: 100vh;
    background-color: var(--primaryColor);
}

footer{
    text-align: center;
    color: white;
    position: absolute;
    bottom:1rem;
    left: 0;
    right: 0;
}

footer p{
    font-size: 1.1rem;
    color: white;
}

footer .name{
    color: var(--textColor);
    text-decoration: none;
}